#page-logo {
  height: 50px;
  width: auto;
  margin-right: 20px;
}

#page-title {
  font-size: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 15px;
  background: lightgray;
  height: 50px;
}