.screen-darkening {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #0000;
  z-index: 999;
  animation: 0.5s screen-darken normal forwards;
}

.screen-darkening.removing {
  animation: 0.5s screen-lighten normal forwards;
}

@keyframes screen-darken {
  0% {
    background: #0000;
  }
  100% {
    background: #000E;
  }
}

@keyframes screen-lighten {
  0% {
    background: #000E;
  }
  100% {
    background: #0000;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.new-element-dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 600px;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  z-index: 1000;
  border: 1px solid black;
  border-radius: 30px;
  opacity: 0;
  animation: 0.5s fade-in normal forwards;
}

.screen-darkening.removing .new-element-dialog {
  animation: 0.5s fade-out normal forwards;
}

#new-element-title {
  color: black;
  font-size: 35px;
  border: 1px solid black;
  background: white;
  padding: 14px;
  line-height: 1;
  border-radius: 20px;
  position: absolute;
  top: -28px;
}

.close-dialog-button {
  width: 65px;
  height: 65px;
  font-size: 50px;
  background: white;
  border: 1px solid black;
  padding: 5px;
  line-height: 0;
  position: absolute;
  top: -28px;
  right: -28px;
  border-radius: 20px;
}

.new-element-dialog input, .new-element-dialog textarea {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.new-element-dialog textarea {
  text-align: left;
  width: 87%;
  resize: vertical;
}

.new-element-dialog label {
  font-size: 17px;
  padding: 5px;
  margin-top: 10px;
}

.input-groups.first-group {
  margin-top: 45px;
}

.input-groups {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44%;
}

.submit-dialog-button {
  border: 1px solid black;
  margin: 20px 0;
  width: 50%;
}

@keyframes red-flash-anim {
  0% {
    background: white;
  }
  50% {
    background: red;
  }
  100% {
    background: white;
  }
}

.flash {
  animation: 0.5s red-flash-anim normal forwards;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1)
}