.skateboard-list-element {
  display: flex;
  flex-direction: row;
  --element-height: 200px;
  padding: 15px;
  height: var(--element-height);
  transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
}

.skateboard-list-element.removing {
  opacity: 0;
  transform: translateX(-200%);
  height: 0;
  padding: 0;
}

.thumbnail-container {
  position: relative;
  width: var(--element-height);
  height: var(--element-height);
}

.skateboard-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: calc(var(--element-height) / 10);
}

@keyframes throw-to-trash {
  0% {
    transform: translateY(0) scale(1) rotate(0);
  }

  40% {
    transform: translateY(-30%) scale(0.5) rotate(-5deg);
  }

  100% {
    transform: translateY(26%) scale(0.3) rotate(15deg);
  }
}

@keyframes take-out-from-trash {
  0% {
    transform: translateY(26%) scale(0.3) rotate(15deg);
  }

  60% {
    transform: translateY(-30%) scale(0.5) rotate(-5deg);
  }

  100% {
    transform: translateY(0) scale(1) rotate(0);
  }
}

@keyframes can-appear {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  40% {
    opacity: 1;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes can-disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  60% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes lid-down {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  35% {
    opacity: 1;
    transform: translateY(5px) rotate(0);
  }

  50% {
    opacity: 1;
    transform: translateY(5px) rotate(10deg);
  }

  80% {
    opacity: 1;
    transform: translateY(0) rotate(-5deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}

@keyframes lid-pickup {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

@keyframes lid-closed {
  0% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }

  100% {
    opacity: 1;
    transform: translateY(30px) rotate(6deg);
  }
}


.thumbnail-container.mouse-out .skateboard-thumbnail {
  animation: 0.6s take-out-from-trash normal forwards;
}

.thumbnail-container.mouse-over .skateboard-thumbnail,
.thumbnail-container.removing .skateboard-thumbnail {
  animation: 0.6s throw-to-trash normal forwards;
}


.thumbnail-container:hover .remove-button {
  transform: scale(1);
}

.remove-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}

.remove-image-top {
  width: auto;
  height: 21.875%;
  display: none;
  opacity: 0;
  transform: translateY(-100px);
  pointer-events: none;
}

.remove-image-bottom {
  width: auto;
  height: 78.125%;
  display: none;
  opacity: 0;
  transform: translateY(100px);
  pointer-events: none;
}

.thumbnail-container.mouse-out .remove-image-top {
  display: inline;
  animation: 0.4s lid-pickup normal forwards;
}

.thumbnail-container.mouse-over .remove-image-top {
  display: inline;
  animation: 0.8s lid-down normal forwards 0.5s;
}

.thumbnail-container.mouse-out .remove-image-bottom {
  display: inline;
  animation: 0.6s can-disappear normal forwards;
}

.thumbnail-container.mouse-over .remove-image-bottom,
.thumbnail-container.removing .remove-image-bottom {
  display: inline;
  animation: 0.6s can-appear normal forwards;
}

.thumbnail-container.removing .remove-image-top {
  display: inline;
  animation: 0.6s lid-closed normal forwards;
}

.skateboard-info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  justify-content: space-between;
  width: 450px;
}

.skateboard-name {
  font-size: 35px;
  align-self: start;
  line-height: 1;
}

.skateboard-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.skateboard-description {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.15;
  padding-bottom: 4px;
}