.sortbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  font-size: 20px;
}

.sortbar label {
  padding: 10px;
}

.sortbar select, .sortbar input {
  font-size: 20px;
  margin-right: 15px;
}

.add-button {
  font-size: 25px;
  width: 32px;
  padding: 0;
  background: lightgray;
  border: 1px solid black;
}