.stars-container {
  display: flex;
  flex-direction: row;
  font-size: 22px;
}

.stars-container:hover .star-span {
  display: none;
}

.stars-container:hover .star:after {
  content: '★';
  display: flex;
}

.star {
  border: none;
  padding: 0;
  transition: transform 0.1s linear;
}

.star-span {
  display: block;
}

.star:hover {
  transform: translateY(-2px);
}

.star:hover ~ .star .star-span {
  display: none;
}

.star:hover ~ .star:after {
  content: '☆';
  display: flex;
}